<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Smart Streelight</title>
  <meta name="author" content="">
  <meta name="description" content="Senior Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="background">
        <h1 class="title">Smart Street Light Project</h1> 
        <p>A senior design project by:</p>
        <ul class="names">
            <li class="list">Afaq Ali</li>
            <li class="list">Scott Tran</li>
            <li class="list">Swimi Kolancheril</li>
            <li class="list">Kacper Zysk</li>
            <li class="list">Ibrahima Diallo</li>
        </ul>
        <div class="button">
            <button>Fancy Button</button>
        </div>
    </div>
  
</body>

</html>